.form-label {
  font-family: 'Optima';
  font-size: 2em;
}

.form-wrapper {
  margin-left: 5%;
  margin-top: 2%;
}

.order-btn {
  margin-left: 20%;
}

.qty-label {
  font-family: 'Optima';
  font-size: 1.5em;
  margin-right: 1%;
}
